<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.smart.digihome">

    <application
        android:allowBackup="true"
        android:icon="@drawable/smart_home"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:label="@string/title_activity_splash"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/HomeTheme"></activity>
        <activity
            android:name=".RoomAppliancesActivity"
            android:label="@string/title_activity_room_appliances"
            android:theme="@style/HomeTheme"></activity>
        <activity
            android:name=".SelectModularActivity"
            android:label="@string/title_activity_room_appliances"
            android:theme="@style/HomeTheme"></activity>

    </application>

</manifest>